deb http://repo.mysql.com/apt/debian/ buster mysql-{{ mysql_version }}
deb http://repo.mysql.com/apt/debian/ buster mysql-tools
deb-src http://repo.mysql.com/apt/debian/ buster mysql-{{ mysql_version }}